.home {

    .header {
        display: flex;
        font-size: 30px;
        width: 400px;
        height: 300px;
        padding: 30px 30px;
        border-radius: 60px 100px;
        background-color:darkseagreen;
        color: #fff;
    }

    .container {
        display: flex;
        background-color: orchid;
        width: 100%;
        height: 100%;
        justify-content:stretch;


            .ul {


                .li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }


    }
}