@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");


@media only screen and (max-width: 900px) {
  .header{
      display: none;
  }
}

body {
  height: 100vh;
  background-image: url("../../assets/sun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.home {
  .container {
  
    .header {
      margin-left: 40px;
      margin-right: 70px;
      font-size: 30px;
      width: 500px;
      height: 300px;
      padding: 40px;
      margin-top: 30px;
      justify-content: center;
      align-content: center;
      border-radius: 70px 150px;
      font-family: "Patrick Hand", cursive;
      background-color: #ffffff10;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      color: #fff;
    }
    h2 {
      color: #fff;
    }
  }

  
  
  
}
