@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
  height: 100vh;
  background-image: url("../../assets/sun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home {
  height: 100vh;
  background-image: url("../../assets/sun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .container {
    position: sticky;
    top: 130px;
    margin-left: 30px;
    
    .header {
      font-size: 30px;
      width: 400px;
      height: 180px;
      padding: 40px;
      justify-content: center;
      align-content: center;
      border-radius: 70px 150px;
      font-family: "Patrick Hand", cursive;
      background-color: #ffffff10;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      color: #fff;
    }

    .homeContainer {
      display: flex;
      background-color: lavender;
    }

    
    label {
      color: white;
      
    }
    
    .form-control {
      width: "30%"
    }
  }

  
  
  
}
