.home {

    width: 100%;
   height: 100vh;
    background-image: url("../../assets/sun.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
    .header {
        margin-top: 30px;
        margin-right: 60px;
      display: flex;
      font-size: 30px;
      width: 400px;
      height: 300px;
      padding: 30px 30px;
      border-radius: 60px 100px;
      background-color: rgba(185, 242, 185, 0.365);
      color: #fff;
    }
  
    .container {
      display: flex;
      width: 100%;
      height: 100%;
    }

    
  }
  