@import url("https://fonts.googleapis.com/css?family=Roboto");

@media only screen and (max-width: 900px) {
  .formBody{
      width: 100px;
  }
  .form-input {
    width: 200px;
  }
}

.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: #4c91ad;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  

  .formBody {
    display: flex;
    width: 500px;
    height: 450px;
    font-size: 25px;
    margin-top: 100px;
    border-radius: 100px 30px;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    font-family: "Patrick Hand", cursive;

    .title {
      font-size: 70px;
    }

    .form-input {
      width: 400px;
      font-size: 15px;
    }

    button {
      border-radius: 10px;
      font-size: 30px;
      font-family: "Patrick Hand", cursive;

      &:hover {
        background-color: #4c91ad;
        cursor: pointer;
      }
    }
  }
}
