@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.login {
    display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: #4c91ad;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  .container {
    display: flex;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    background-color: #fff;
  }
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  color: #fff;
}
