@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

.navbar {
  width: 100%;
  padding-right: 50px;
  background-color: #fff;
  color: #000;
  position: fixed;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 45px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        font-family: "Gloria Hallelujah", cursive;
        padding-left: 20px;
        align-items: center;
      }

      img {
        width: 60px;
        height: 60px;
      }
    }

    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        padding-right: 50px;

        span {
          width: 100%;
          height: 3px;
          background-color: #000000;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.29);
    color: white;

    img {
      -webkit-filter: invert(1);
      filter: invert(1);
      transition: all 1s ease;
      }

    .hamburger {
      span {
        &:first-child {
          background-color: #fff;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: #fff;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
